body {
  border: 5px solid rgb(113, 113, 145);
  background-color: rgb(185, 207, 200);
  border-radius: 2rem;
}
h1 {
  background-color: rgba(112, 163, 129, 0.582);
}
.mail {
  text-align: center;
  font-size: xx-large;
}
.giocodadi {
  text-align: center;
  font-size: xx-large;
}
button {
  border-radius: 2rem;
  height: 2rem;
}
input {
  width: 15rem;
  height: 2rem;
  border-radius: 1rem;
}
